#cloud-config
preserve_hostname: true
groups:
  - admingroup: [root,sys]

users:
  - default
  - name: ladmin
    gecos: Local Admin
    groups: users,admin,wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDLRrwiW7JK6n07Nh7Monc0b93eW7oL5tNEfhWlamb1geaJM/qOkd3JxA7Z82R80RRV12R2M5x7O/AFpwY1iKXL6K0DJ0eKuBUHcdRINIkDEDdJ5MlszimsORV2vodylqidgM6AjJjP8H9hdbaiTOCwIB4wJA2bpTKf4Ky46SGbuQJ0a8BM4KUMBsh3XmAo4RVgD2j0WKqukh5JKernY4Is/RtwoJfZeJKy+m1jvhZ+qCDbDzNBUEr8r1j4GDxH5VjQIu/7sWyslmph2SPowpLWVIqaoqKXbLAWKNFlu2Hbc41Xyg6cD6Az4sKC1gv6V9kD0+jZZf4iUqXKTsp7Yy4t jackw@kickinchickin

ssh_keys:
  rsa_private: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABFwAAAAdzc2gtcn
    NhAAAAAwEAAQAAAQEAy0a8IluySup9OzYezKJ3NG/d3lu6C+bTRH4VpWpm9YHmiTP6jpHd
    ycQO2fNkfNEUVddkdjOcezvwBacGNYily+itAydHirgVB3HUSDSJAxA3SeTJbM4prDkVdr
    6HcpaonYDOgIyYz/B/YXW2okzgsCAeMCQNm6Uyn+CsuOkhm7kCdGvATOClDAbId15gKOEV
    YA9o9FiqrpIeSSnq52OCLP0bcKCX2XiSsvptY74Wfqgg2w8zQVBK/K9Y+Bg8R+VY0CLv+7
    FsrJZqYdkj6MKS1lSKmqKil2ywFijRZbth23ONV8oOnA+gM+LCgtYL+lfZA9Po2WX+IlKl
    yk7Ke2MuLQAAA9AsT4wNLE+MDQAAAAdzc2gtcnNhAAABAQDLRrwiW7JK6n07Nh7Monc0b9
    3eW7oL5tNEfhWlamb1geaJM/qOkd3JxA7Z82R80RRV12R2M5x7O/AFpwY1iKXL6K0DJ0eK
    uBUHcdRINIkDEDdJ5MlszimsORV2vodylqidgM6AjJjP8H9hdbaiTOCwIB4wJA2bpTKf4K
    y46SGbuQJ0a8BM4KUMBsh3XmAo4RVgD2j0WKqukh5JKernY4Is/RtwoJfZeJKy+m1jvhZ+
    qCDbDzNBUEr8r1j4GDxH5VjQIu/7sWyslmph2SPowpLWVIqaoqKXbLAWKNFlu2Hbc41Xyg
    6cD6Az4sKC1gv6V9kD0+jZZf4iUqXKTsp7Yy4tAAAAAwEAAQAAAQAJUBfNcSsFcKHFJTEb
    CfRxJBDjn4syAWS7dhVSy0GlTMq9jXKUto0VMdTGWnbHmyKV3jTdj3bDVJcmAyVvLW//HA
    1VICcQbWeVPDtQBYwjZkpKKd+qivVwzPq1QnxdHRbjhGOxkv9rQ2bqlaSE4gXHO+l2Jiiz
    cUmU9oujOxcNlcLSkFBP7aE4YbHL0dtcHJcvY3QBS83HJHs0g1gX/2AOtnk3ZLFWMOrv5R
    Zun6NQVp8g8JX+8b07JJe5EpQPZooBr47oTZQRVtt9o24Olcjpt3CUqwqdu402d+eFpvWe
    s0Y1F/noBoAZ1gAHwoTqz4oUNaANxrjUNdiLYaa96OUBAAAAgQCwAUKdSHRskL5gC6KZC+
    ww6qu76gOIJaAFkjfqKQex+FpZ9O5AKo38Tv2W0/3lDagaQuhoG/LbAvY5WRRZ5pOnVrsK
    HYYdH+hcBtwdoqk8PUTednM/dPhN75yx3x07JME6/EFaJqsyL9QkUXnpJx/bCuzD68JyJT
    zNEHvkPvd2BgAAAIEA0UEs7u3jWpljakkPaoevUeLV3X+jzKD9/BJCp1Qr/EW/EHasCMYn
    vvVZnkSndjDFdkpX1O3htS4NXixX6ulov9gkPLN234tp2jxq/kg44EfBG1+1jqm7OSo616
    JE1EGt3w9Xd+d653DYRG8N15NRb988NozRcLoLL5ToY08VCYEAAACBAPivrI+c+uQL/VjZ
    zOtQy9mS6YkBMUI9pPxmsE2mRpExavttaH74hY0IGkeqD1dzG5/RKAFjL3nk0OKnEBHD5d
    GxDRoI9x6t5+YXSJKBeSgiLW96DWkf8OeCPKxtAjtv1QkvEQGJ9S9rFZaGf4vPj2/FraEK
    u/oqR0/oDOjk+MKtAAAAE2phY2t3QGtpY2tpbmNoaWNraW4BAgMEBQYH
    -----END OPENSSH PRIVATE KEY-----
  
  rsa_public: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDLRrwiW7JK6n07Nh7Monc0b93eW7oL5tNEfhWlamb1geaJM/qOkd3JxA7Z82R80RRV12R2M5x7O/AFpwY1iKXL6K0DJ0eKuBUHcdRINIkDEDdJ5MlszimsORV2vodylqidgM6AjJjP8H9hdbaiTOCwIB4wJA2bpTKf4Ky46SGbuQJ0a8BM4KUMBsh3XmAo4RVgD2j0WKqukh5JKernY4Is/RtwoJfZeJKy+m1jvhZ+qCDbDzNBUEr8r1j4GDxH5VjQIu/7sWyslmph2SPowpLWVIqaoqKXbLAWKNFlu2Hbc41Xyg6cD6Az4sKC1gv6V9kD0+jZZf4iUqXKTsp7Yy4t jackw@kickinchickin

no_ssh_fingerprints: true
ssh:
  emit_keys_to_console: false
