#cloud-config
groups:
  - admingroup: [root,sys]

users:
  - default
  - name: ladmin
    gecos: Local Admin
    groups: users,admin,wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - <RSA public key>

ssh_keys:
  rsa_private: |
    <RSA private key>
  
  rsa_public: <RSA public key>

no_ssh_fingerprints: true
ssh:
  emit_keys_to_console: false
preserve_hostname: true
runcmd:
# set hostname
 - hostnamectl set-hostname --static ${hostname}